<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - CONTROLE DE FICHAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <nav>
        <ul class="nav-left">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main_bp.index') }}">INÍCIO</a></li>
                <li><a href="{{ url_for('main_bp.adicionar_ficha') }}">ADICIONAR FICHA</a></li>
                <li><a href="{{ url_for('main_bp.relatorio') }}">RELATÓRIO</a></li>
                <li><a href="{{ url_for('auth_bp.logout') }}">LOGOUT ({{ current_user.username }})</a></li>
            {% else %}
                <li><a href="{{ url_for('auth_bp.login') }}">LOGIN</a></li>
                <li><a href="{{ url_for('auth_bp.register') }}">REGISTRAR</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; {{ now.year }} CONTROLE DE FICHAS DE LIBERAÇÃO. TODOS OS DIREITOS RESERVADOS.</p>
    </footer>
</body>
</html>